GOOGLE_TAG_MANAGER_ID="GTM-XXXXXX"
GOOGLE_TAG_MANAGER_ENABLED=true
UMAMI_ENABLED=true
UMAMI_URL="https://umami.example.com"
UMAMI_SITE_ID="XXXXXXXX-XXXX"
CLARITY_ENABLED=true
CLARITY_PROJECT_ID="XXXXXXXX-XXXX"